.hero.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: var(--spacing-40);
  padding-bottom: var(--spacing-20);

  background-image: url('../../assets/Backgrounds/Bg_Header.png');
  background-image: -webkit-image-set(
    url('../../assets/Backgrounds/Bg_Header.png') 1x,
    url('../../assets/Backgrounds/Bg_Header@2x.png') 2x,
    url('../../assets/Backgrounds/Bg_Header@3x.png') 3x
  );
}

.hero__title {
  color: var(--color-dark);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
}

.hero__title--bold {
  text-transform: capitalize;
  font-weight: var(--font-weight-semibold);
}

.hero__title--green {
  color: var(--color-brand-secondary);
}

@media only screen and (min-width: 47.9em) {
  .hero.container {
    padding-top: var(--spacing-30);
    padding-right: var(--spacing-35);
  }

  .hero__title {
    display: flex;
    flex-direction: column;
  }
}
