.navbar {
  width: 100%;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--spacing-0);
  margin: var(--spacing-0);

  list-style: none;
}

.navbar__item {
  margin-bottom: var(--spacing-4);

  font-weight: var(--font-weight-semibold);
}

.navbar__item a {
  color: var(--color-dark);
  text-decoration: none;
}

@media only screen and (min-width: 47.9em) {
  .navbar {
    width: auto;
  }

  .navbar__list {
    flex-direction: row;
  }

  .navbar__item {
    margin-left: var(--spacing-10);
  }

  .navbar__item:nth-child(1) {
    margin-left: var(--spacing-0);
  }
}
