.navbar__list {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-0);
  margin: var(--spacing-0);

  list-style: none;
}

.navbar__item {
  margin-left: var(--spacing-10);

  font-weight: var(--font-weight-semibold);
}

.navbar__item:nth-child(1) {
  margin-left: var(--spacing-0);
}

.navbar__item a {
  color: var(--color-dark);
  text-decoration: none;
}
