/*
  For the styles I'll write them in the next order for mantain consistence:
    
    --> position
    --> box model (layout, dimensions, margins, paddings)
    --> font enhancements
    --> box enhancements
    --> others
*/

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  cursor: default;
}

.container {
  padding: 0 var(--spacing-20);
}

.error-message {
  color: var(--color-danger);
  text-align: center;
}
