.benefits.container {
  padding-top: var(--spacing-20);

  text-align: center;
}

.benefits__title {
  margin-bottom: var(--spacing-20);

  color: var(--color-dark);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-normal);
}

.benefits__title--blue {
  color: var(--color-brand-primary);
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits-list:after {
  content: ' ';

  width: 100%;
  margin-top: var(--spacing-16);

  border-bottom: 3px solid var(--color-gray);
  box-shadow: 0 0px 10px 5px #f5f5f5;
}
