.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url('../../assets/Backgrounds/Bg_Header.png');
  background-image: -webkit-image-set(
    url('../../assets/Backgrounds/Bg_Header.png') 1x,
    url('../../assets/Backgrounds/Bg_Header@2x.png') 2x,
    url('../../assets/Backgrounds/Bg_Header@3x.png') 3x
  );
}

.not-found > h3 {
  margin: 0;
}
